#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#left {
    flex: 50%;
    max-width: 40%;
    background-color: blue;
}

#right {
    flex: 50%;
    max-width: 60%;
    background-color: red;
}
