.html, .body {
    margin: 0px;
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#left {
    width: 40%;
    max-width: 40%;
    background-color: blue;
}

#right {
    width: 60%;
    max-width: 60%;
    background-color: yellow;
}
