.html {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#left {
    width: 40%;
    background-color: blue;
}

#right {
    width: 60%;
    background-color: yellow;
}
